body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
  background-color: teal;
} 


#canvas {
  border: 2px solid black;
  background-color: bisque;
  width: 600px;
  height: 600px;
}
